@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

.App {
	height: 100vh;
	background-color: #e9e9e9;
}

.add {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 50%;
	font-size: 20px;
	border: none;
	cursor: pointer;

	position: absolute;
	right: 40px;
	bottom: 40px;

	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	/* border: 1px solid black; */
	text-align: center;
	padding: 20px 40px;
	background-color: white;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header h3 span {
	color: rgb(156, 156, 156);
	font-size: 14px;
	margin-right: 10px;
}

.information {
	/* border: 1px solid black; */
	padding: 40px;
	margin: 20px 40px;
	background-color: white;
}

.sect {
	display: flex;
	justify-content: space-between;
}

.expenseList, .incomeList {
	/* border: 1px solid black; */
	padding: 20px 40px;
	margin: 20px 40px;
	width: 45%;
	background-color: white;
	text-align: left;
}

.expList, .incList {
	margin-top: 20px;
}

.expList p, .incList p {
	display: flex;
	justify-content: space-between;
}

.expList p:last-child, .incList p:last-child {
	margin-top: 20px;
	font-style: italic;
	font-weight: bold;
}

#modal {
  width: 60%;
  height: 70%;
  background-color: white;
  padding: 10px 20px;

  visibility: hidden;

  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 80px;
  /* text-align: center; */

  display: flex;
  /* align-items: center; */
	justify-content: space-between;
}

#modal button {
  float: right;
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  cursor: pointer;
	font-size: 30px;
  font-weight: bold;
  transform: rotate(45deg);
}

.form-section {
  /* border: 1px solid black; */
  max-height: 100%;
  width: 70%;
}

.form-section form input {
  width: 100%;
  margin: 10px 0 0 0;
  background-color: #e9e9e9;
  border: none;
  outline: none;
  padding: 7px;
}

.form-section form input[type=submit] {
  background-color: #fff;
  border: 1px solid gray;
  cursor: pointer;
}

.form-section h4 {
  margin-top: 20px;
}